<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
    <!-- Reduz logs de auto-configuração do SpringDoc e Spring Boot -->
    <logger name="org.springdoc" level="WARN"/>
    <logger name="org.springframework.boot.autoconfigure" level="WARN"/>
    <logger name="org.springframework.data.convert" level="WARN"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="WARN"/>
    <logger name="o.s.b.f.s.DefaultListableBeanFactory" level="WARN"/>
</configuration>
